# --- SEGURETAT (Crític) ---
# Ignorem l'arxiu amb les claus API reals
config/.env
.env

# --- ENTORN VIRTUAL ---
# No volem pujar les llibreries, es baixen amb requirements.txt
venv/
env/

# --- PYTHON CACHE ---
# Arxius temporals que genera Python automàticament
__pycache__/
*.py[cod]
*$py.class

# --- LOGS I ALTRES ---
*.log
.DS_Store
.vscode/
.idea/

# --- Arxius de dades i carpeta nova ---
.db
bot_data.db
bot_data.db-wal
bot_data.db-shm
bot_data.db-journal
data/
