#--- SEGURIDAD (Crítico) ---
#Ignoramos el archivo con las claves reales
config/.env
.env

#--- ENTORNO VIRTUAL ---
venv/
env/

#--- ARCHIVOS TEMPORALES PYTHON ---
pycache/
*.py[cod]
*$py.class

#--- LOGS Y OTROS ---
*.log
.DS_Store
.vscode/
.idea/

#--- DATOS DEL BOT ---
.db
bot_data.db
bot_data.db-wal
bot_data.db-shm
bot_data.db-journal
data/
