# CLAUS TESTNET
BINANCE_API_KEY_TEST=totes_les_teves_claus_testnet...
BINANCE_SECRET_KEY_TEST=totes_les_teves_claus_testnet...

# CLAUS REAL (PRODUCTION)
BINANCE_API_KEY_REAL=totes_les_teves_claus_reals...
BINANCE_SECRET_KEY_REAL=totes_les_teves_claus_reals...